<div class="container color-dark">
    
    <div class="col">

        <p class="section-title">education items</p>

    </div>

</div>
<div class="container color-light">
    
    <div class="col">
        
        <form>
            <input type="text" class="txt" name="startDate" placeholder="Instituto" [(ngModel)]="myEducation.Instituto"> <br>
            <input type="text" class="txt" name="endDate" placeholder="Nivel academico" [(ngModel)]="myEducation.NivelAcademico"> <br>

            <input type="submit" class="btn" value="{{ btntxt }}" (click)="AgregarJob()">
        </form>
    </div>

    <div class="education-list">
        <div class="education-item" *ngFor="let job of education">
          <span>{{job.Instituto}} - {{job.NivelAcademico}}</span>
          <button class="delete-btn" (click)="deleteJob(job.id)">delete</button>
        </div>
    </div>      

</div>
